/* Shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.primary-btn {
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-weight: 700;
    border: 0;
}

/* header stylish */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    height: 100px;
    background-color: #FFF;
    color: #FFF;
}

.header-title {
    color: #3A3A3A;
    font-size: 20px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul a {
    margin-right: 20px;
    text-decoration: none;
    color: #FFF;
    width: 49px;
    height: 34.8px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.headed-images {
    width: 30%;
    border-radius: 50%;
}


/* Banner style */
.banner-container {
    display: flex;
    padding: 0px 130px;
    align-items: center;
    justify-content: center;
    gap: 133px;
    margin-top: 45px;
}

.banner-title {
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
}

.banner-description {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-container img {
    width: 440px;
    height: 414px;
    background-image: url('../images/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center;
}


/* sponsore logs stylish*/
.sponsore-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 150px;
    margin-top: 100px;
}



/* Responsive media query */
@media screen and (max-width: 576px) {

    .header-container{
        flex-direction: column;
    }

    .sponsore-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .sponsore-container {
        margin: 20px;
        padding: 0px;
        text-align: center;
    }

    .sponsore-container img {
        width: 100%;
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-container {
        padding: 0px;
        text-align: center;
    }

    .banner-container img {
        padding: 0px;
        text-align: center;
        margin-top: 60px;
        margin-left: 20px;
    }
}